body
    font-family 'Roboto', sans-serif
    font-weight: 400
    text-rendering: optimizeLegibility
    font-smoothing antialiased
a
    &.social-icon
        display: inline-block
        width 1em
        margin-left 1em
        vertical-align: bottom
        line-height: 1
        &.twitter
            margin-left: .5em
        path 
            fill black
        &.github
            color: black
            position: relative