main
    z-index 1
    flex 1 0 auto
.main--wrapper
    display: flex
    flex-direction: column
    min-height: 100vh
    min-width 320px
    padding-bottom margin-xl
    @media screen and (max-width: breakpoint-md)
        padding-bottom margin-md
    @media screen and (max-width: breakpoint-sm)
        padding-bottom margin-sm
    .bg-shapes
        background-color darken(blue, 10)
        position fixed
        z-index -1
        height: 100%
        width: 100%
        min-width 320px
        &.yellow
            background-color yellow
        svg
            position absolute
            bottom 0
            width: 100vw
            min-width 320px
            height: 100vh
            path
                stroke-linejoin round
        &:nth-child(2)
            background none
            overflow: hidden
            position: fixed
            bottom 10%
            z-index: -2
            animation grow .4s ease-in forwards 1.2s
            svg
                position: absolute
                bottom -10%
                animation grow .4s ease-in forwards 1.2s
        &:first-child
            top -10%
            max-height: 5000px
            overflow: hidden
            // animation shrink 1s ease-out forwards 5s
            @media screen and (max-width: breakpoint-md)
                top 0%
            svg
                bottom 0%
                position: fixed
                @media screen and (max-width: breakpoint-md)
                    width 200%
            path
                stroke-dasharray: 2500
                stroke-dashoffset: -2500
                animation fill 1.4s ease-in forwards
                @media screen and (min-width: breakpoint-md)
                    fill none
                @media screen and (max-width: breakpoint-md)
                    animation fill 1.2s ease-in forwards
                    transform: scale(.3) translate
                    &:nth-child(odd)
                        fill none
        &--wrapper
            position absolute
            left 0
            right 0
            top 0
            bottom 0
.stem 
    width: 1px
    height: 60%
    margin-left: 7px
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25))
    animation: stem 1.2s linear infinite
    position: absolute
    &--wrapper
        animation: drop 1.2s linear infinite
        overflow hidden
        position absolute
        right 0
        top 0
        bottom 0
        width 10px
        transform translateY(-100%)
        &:nth-child(odd)
            animation-duration: .8s
            .stem
                animation-duration: .8s
        for n in (1..10)
            &:nth-child({n})
                right 70px * n + n * sin(30deg)
                animation-delay: n * .2s * sin(30deg)
                .stem
                    animation-delay: n * .2s * sin(30deg)


@keyframes stem
  0%
        opacity: 1
  65%
        opacity: 1
  75%
        opacity: 0
  100%
        opacity: 0

@keyframes drop
    from
        transform translateY(-100%)
    to
        transform translateY(110%)

@keyframes fill
    to
        stroke-dashoffset: 0
@keyframes grow
    to
        bottom 0
@keyframes shrink
    to
        max-height: 0