// COLORS
pink = #ff9393
yellow = #ECEED1
blue = #364468
lt-blue = #BDE4EC

// BREAKPOINTS
breakpoint-sm = 480px
breakpoint-md = 720px
breakpoint-lg = 1550px
breakpoint-xl = 2560px

// MARGINS AND SPACING
margin-sm = 24px
margin-md = 48px
margin-lg = 64px
margin-xl = 140px