// COLORS
pink = #ff9393
yellow = #ECEED1
blue = #364468
lt-blue = #BDE4EC

// BREAKPOINTS
breakpoint-sm = 320px
breakpoint-md = 480px
breakpoint-lg = 1024px
breakpoint-xl = 1440px
breakpoint-xxl = 2560px

// MARGINS AND SPACING
margin-sm = 24px
margin-md = 48px
margin-lg = 64px
margin-xl = 140px