.work-detail
    margin 2rem margin-md 0
    &--header
        font-size 3rem
        font-weight: 600
        font-family: Lato, sans-serif
        font-variant small-caps
        line-height 1
        color blue
        margin-bottom .5em
    &--description
        font-family: Lato, sans-serif
        color blue