.works
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    gap: 40px
    margin 0 margin-xl
    max-width: breakpoint-lg
    @media screen and (max-width: breakpoint-md)
        width 100%
        padding 0 margin-md
    @media screen and (max-width: breakpoint-sm)
        width 100%
        padding 0 margin-sm
    &--item
        display inline-block
        width: 213px
        height: 154px
        background white
        background-repeat: no-repeat
        background-position: 50% 50%
        span
            font-weight 400
            a
                text-decoration: none
                color blue
                display inline-block
                color darken(blue, 10)
                &:hover
                    background blue
                    color yellow